<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />

    <title>{% block title %}Calorie Tracker{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
            <div class="ml-auto">
                {% if current_user.is_authenticated %}
                    <span class="navbar-text text-light">
                        Logged in as {{ current_user.email }}
                    </span>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Welcome to Calorie Tracker</h1>
        <p>This is your personal calorie tracking dashboard.</p>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    
        {% if request.endpoint == 'index' and current_user.is_authenticated %}
            <div class="mt-3 d-flex justify-content-start">
                <a href="{{ url_for('add_calories') }}" class="btn btn-primary btn-lg">
                    <i class="fa fa-plus-circle mr-2"></i> Add Today's Calories
                </a>
                <a href="{{ url_for('add_calorie_item') }}" class="btn btn-secondary btn-lg ml-2">
                    <i class="fa fa-cutlery mr-2"></i> Add Calorie Item
                </a>
                <a href="{{ url_for('list_calories', option='current_month') }}" class="btn btn-info btn-lg ml-2">
                    <i class="fa fa-list mr-2"></i> Show This Month's Data
                </a>
                <a href="{{ url_for('average_calories') }}" class="btn btn-success btn-lg ml-2">
                    <i class="fa fa-chart-line mr-2"></i> Show Calorie Averages
                </a>
                <a href="{{ url_for('delete_user') }}" class="btn btn-danger btn-lg ml-2">
                    <i class="fa fa-trash mr-2"></i> Delete User
                </a>
            </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block javascript %}
    {% endblock %}
</body>
</html>
