<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <style>
        /* Dark mode styles */
        .dark-mode {
            background-color: #121212;
            color: #ffffff;
        }

        .dark-mode a {
            color: #9f9f9f;
        }

        /* Add more dark mode styles as needed */
    </style>
    <title>{% block title %}Add calories by items{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('user_calorie_bp.list_calories') }}">Calorie Lists</a>
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('auth_bp.logout') }}">Logout</a>
                {% endif %}
            </div>
            <div class="ml-auto">
                {% if current_user.is_authenticated %}
                    <span class="navbar-text text-light">
                        Logged in as <strong>{{ current_user.username }}</strong>
                    </span>
                {% endif %}
                <button onclick="toggleDarkMode()" class="btn btn-sm btn-light ml-2">
                    <i id="toggle-icon" class="fas fa-sun"></i>
                </button>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h2>Add Calories by Items</h2>
        <form method="post" action="{{ url_for('calorie_item_bp.add_calories_by_items') }}">
            <div class="form-group">
                <label for="selected_item">Select Calorie Item:</label>
                <select class="form-control" name="selected_item" id="selected_item" required>
                    {% for item in user_calorie_items %}
                        <option value="{{ item.food_item }}">{{ item.food_item }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label for="amount">Amount (per 100g):</label>
                <input type="number" class="form-control" name="amount" id="amount" step="0.01" required>
            </div>
        
            <div class="form-group">
                <label for="date">Enter the date in mm-dd-yyyy format:</label>
                <input type="date" class="form-control" id="date" name="date" value="{{ current_date.strftime('%Y-%m-%d') }}" max="{{ current_date.strftime('%Y-%m-%d') }}" required>
            </div>
        
            <button type="submit" class="btn btn-primary">Add Calories</button>
        </form>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/dark-mode.js') }}"></script>
</body>
</html>